<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <servers>
        <server>
          <id>maven.jenkins-ci.org</id> 
          <username>${SL_JENKINS_CI_USERNAME}</username>
          <password>${SL_JENKINS_CI_PASSWORD}</password>
        </server>
        <server>
            <id>sealights</id>
            <username>alon@sealights.io</username>
            <password>s2015l</password>
        </server>
         <server>
            <id>sealights-internal</id>
            <username>devops</username>
            <password>s2015l</password>
        </server>
    </servers>
</settings>
